// Core variables and mixins
@import "variables";
@import "mixins/hover";

// Reset and dependencies
@import "normalize";
//@import "print";

// Core CSS
@import "reboot";

body {
    background-color: $white;
    margin: 0;
    position: relative;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

nav {
    transition: height 1000ms;
    background-color: $brand-primary;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;
    .navbar-name {
        margin-right: 2rem;
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
    button.toggler-button {
        position: absolute;
        right: 1rem;
        order: 3;
        border: 1px solid #ffffff80;
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background: transparent;
        color: $white;
        border-radius: .25rem;
        overflow: visible;
        margin: 0;
        span.toggler-button-icon {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 1.5rem 1.5rem;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            width: 1.5rem;
            height: 1.5rem;
            vertical-align: middle;
            content: "";
        }
    }
    a {
        color: $white;
        text-decoration: none;
        padding: 0.5rem;
    }
    a:hover, a:focus {
            color: $white;
    }
    .navbar-menu {
        align-self: center;
        ul {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: height 350ms, opacity 350ms;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        li {
            list-style-type: none;
            a {
                color: #ffffff80;
                text-decoration: none;
                padding: 0.5rem;
            }
            a:hover, a:focus {
                color: #ffffffC0;
                text-decoration: none;
            }
        }
        li.active > a, a:focus, a:hover {
            color: #ffffff;
        }
        
    }
    
}

.splash {
    background-color: $gray; //#040404;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.splash_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .photo {
        flex: 1 100%;
        max-width: 450px;
        padding: 10px;
        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 4px;
        }
    }
    .blurb {
        flex: 1 100%;
        max-width: 450px;
        padding: 10px;
        color: #f5f5f5;
    }
}

.fullpage {

    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center_content {
    width: $max-width; //960px;
    max-width: 100%;
}


ul.recent_activity, ul.publications, ul.positions {
    padding: 0;
    border-radius: .25rem;
    background-color: $gray-lightest;
    display: flex;
    flex-direction: column;
}

h2.recent_activity_title {
    text-align: center;
}

li.recent_item {
    border-bottom: solid 1px $white;
    list-style-type: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-height: 8rem;
    }

    div.title {
        display: flex;
        align-items: center; //flex-start;
        flex-direction: column;
        text-align: center;
        a {
            color: $gray-dark;
            text-decoration: none;
        }

        a:hover, a:focus {
            text-decoration: underline;
        }
    }
    span.blog_post, span.presentation, span.project, span.article {
        font-size:75%;
        font-weight: bold;
        padding: .25em .4em;
        margin-top: .25rem;
        border-radius: .25rem;
    }
    span.blog_post {
        background-color: #ec0d0d;
        color: white;
    }
    span.presentation {
        background-color: #ecc10d;
        color: white;
    }
    span.project {
        background-color: #0abd0a;
        color: white;
    }
    span.article {
        background-color: #341ca3;
        color: white;    
    }
}

li.recent_article, li.position {
    border-bottom: solid 1px #ffffff; //#efefef;
    list-style-type: none;
    padding: 15px;
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
    }
    h4.position_title {
        margin-bottom: 0;
    }
    p.institution {
        margin-bottom: 1rem;
    }
}

.introduction {
    border-radius: 4px;
    background-color: $gray-lightest; //white;
    padding: 2rem 0;
    margin: 2rem .5rem 1rem .5rem;
    h2,h4,p {
        margin: .5rem 1.5rem;
    }
}

#publications, #positions, ul.publications, ul.positions {
    margin: 0 .5rem 0 .5rem;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    main {
        flex: 0 0 100%;
        padding: 0 .5rem 0 .5rem;
        width: 100%;
        max-width: 100%;
    }
    aside {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding: 0 0.5rem 0 .5rem;
        border-radius: .25rem;
    }
}

.side-panel-title {
    margin: 0;
    background-color: $gray-lightest;
    border-radius: .25rem .25rem 0 0;
    padding: 0.5rem;
    border-bottom: solid 1px $white;
}

.side-panel {
    ul {
        padding: 0;
        border-radius: 0 0 .25rem .25rem;
        background-color: $gray-lightest;
        display: flex;
        flex-direction: column;
    }
    li {
        border-bottom: solid 1px $white;
        list-style-type: none;
        padding: 0.5rem;
    }
}

.blog-post-meta {
    font-size: 70%;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: .5rem .75rem;
    border-radius: .25rem;
    background-color: $white;
    border: 1px solid $gray-light;
    &:focus {
        border-color: $brand-primary;
    }
}

nav.pagination {
    background-color: $white;
    ul {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        border-radius: .25rem;
        background-color: $white;
    }
    li.page-item {
        list-style-type: none;
        a.page-link {
            color: $brand-primary;
            border: 1px solid $gray-lightest;
            padding: .5rem .75rem;
            line-height: 1.25;
            &:hover {
                color: darken($brand-primary, 10%);
                text-decoration: none;
                background-color: $gray-lighter;
            }
        }
    }
    li.page-item.disabled a {
        color: $gray-dark;
        pointer-events: none;
        cursor: not-allowed;
    }
    li.page-item.active a {
        color: $white;
        border-color: $brand-primary;
        background-color: $brand-primary;
        &:hover {
            background-color: darken($brand-primary, 10%);
            color: $white;
        }
    }
}

@media(min-width:350px) {
    li.recent_item {
        flex-direction: row;  
        align-items: flex-start;
        div.title {
            align-items: flex-start;
            text-align: left;
            padding-left: 1rem;
            a {
                font-size: $font-size-h4;
            }
        }
        span.blog_post, span.presentation, span.project, span.article {
            margin-top: 0;
        }
    }
    h2.recent_activity_title {
        padding: 1rem;
        text-align: left;
    }
}

@media(min-width:720px) {
    nav {
        flex-direction: row;
        justify-content: flex-start;
        button {
            display: none;
        }
        .navbar-menu {
            display: flex;
            ul {
                flex-direction: row;
                height: auto;
                opacity: 1;
            }
        }
    }

    .splash_content {
        flex-direction: row;
        justify-content: center;
    }

    .blog {
        flex-direction: row;
        main {
            flex: 0 0 66.666%;
            padding: 0 .5rem 0 .5rem;
            width: 100%;
            max-width: 66.666%;
        }
        aside {
            flex: 0 0 25%;
            width: 100%;
            max-width: 25%;
            padding: 0 0.5rem 0 .5rem;
            margin-left: 8.333%;
        }
    }
}


