{% extends "layout.html" %}


{% block head_title %}Contact ::{{ super() }}{% endblock %}
            
            

{% block body %}

{{ super() }}


<div class="container">
    <div class="wrapper">
        <main>
        <h2 id="main-title">Contact</h2>
            <p>I can be contacted by email at: jonathan@jonathanstreet.com</p>
            
            <p>I have accounts on
            <a href="https://twitter.com/jonmstreet">Twitter</a>,
            <a href="https://github.com/streety/">Github</a>,
            <a href="http://www.linkedin.com/in/jonathanstreet">LinkedIn</a>, and
            <a href="http://facebook.com/streetjonathan">Facebook</a>.

            
        </main>
    </div>
</div>



{% endblock %}