{% extends "layout.html" %}

{% block head_title %}CV & Publications ::{{ super() }} {% endblock %}

{% block body_attributes %}data-spy="scroll" data-target="#fixed-menu" data-offset="50"{% endblock %}

{% block body %}

{{ super() }}


<div class="fullpage">
    <div class="center_content">
        <div class="introduction">
            <h4>Contents</h4>
            <ul>
                <li><a href="#publications">Publications</a></li>
                <li><a href="#positions">Education and Employment</a></li>
            </ul>
        </div>
    <main>
        <h2 id="publications">Publications</h2>
        <ul class="publications">

            <li class="recent_article">
                <h4 class="article_title">The role of adenosine 1a receptor signaling on GFR early after the induction of sepsis.</h4>
                <p class="authors">
                Street JM, 
                Koritzinsky EH, 
                Bellomo TR, 
                Hu X, 
                Yuen PST, 
                Star RA.
                </p>
                <p class="journal">
                Am J Physiol Renal Physiol. 
                2018 May 1;
                314(5):F788-F797.
                </p>
                <p class="links">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/29117994">[pubmed]</a>
                <a href="http://dx.doi.org/10.1152/ajprenal.00051.2017">[crossref]</a></p>
            </li>  

            <li class="recent_article">
                <h4 class="article_title">Urine Exosome Isolation and Characterization.</h4>
                <p class="authors">
                Street JM, 
                Koritzinsky EH, 
                Glispie DM, 
                Yuen PST.
                </p>

                <p class="journal">
                Methods Mol Biol. 
                2017;
                1641:413-423.
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28748478">[pubmed]</a>
                <a href="http://dx.doi.org/10.1007/978-1-4939-7172-5_23">[crossref]</a></p>
            </li>            

            <li class="recent_article">
                <h4 class="article_title">Quantification of Exosomes.</h4>
                <p class="authors">
                Koritzinsky EH, 
                Street JM, 
                Star RA, 
                Yuen PS.
                </p>

                <p class="journal">Journal of Cellular Physiology.
                2017 Jul;
                
                232(7): 1587-1590
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/27018079">[pubmed]</a>
                <a href="http://dx.doi.org/10.1002/jcp.25387">[crossref]</a></p>
            </li>
            
            <li class="recent_article">
                <h4 class="article_title">Urine Exosomes: An Emerging Trove of Biomarkers.</h4>
                <p class="authors">
                Street JM, 
                Koritzinsky EH, 
                Glispie DM, 
                Star RA, 
                Yuen PS.
                </p>

                <p class="journal">Advances in Clinical Chemistry.
                2017;
                
                78: 103-122
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28057185">[pubmed]</a>
                <a href="http://dx.doi.org/10.1016/bs.acc.2016.07.003">[crossref]</a></p>
            </li>
            
            <li class="recent_article">
                <h4 class="article_title">Vasopressin Regulates Extracellular Vesicle Uptake by Kidney Collecting Duct Cells.</h4>
                <p class="authors">
                Oosthuyzen W, 
                Scullion KM, 
                Ivy JR, 
                Morrison EE, 
                Hunter RW, 
                Starkey Lewis PJ, 
                O'Duibhir E, 
                Street JM, 
                Caporali A, 
                Gregory CD, 
                Forbes SJ, 
                Webb DJ, 
                Bailey MA, 
                Dear JW.
                </p>

                <p class="journal">
                Journal of the American Society of Nephrology. 
                2016 Nov;
                27(11):3345-3355.                 
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/27020854">[pubmed]</a>
                <a href="http://dx.doi.org/10.1681/ASN.2015050568">[crossref]</a></p>
            </li>
            
            <li class="recent_article">
                <h4 class="article_title">Lipopolysaccharide-Induced CD300b Receptor Binding to Toll-like Receptor 4 Alters Signaling to Drive Cytokine Responses that Enhance Septic Shock.</h4>
                <p class="authors">
                Voss OH, 
                Murakami Y, 
                Pena MY, 
                Lee HN, 
                Tian L, 
                Margulies DH, 
                Street JM, 
                Yuen PS, 
                Qi CF, 
                Krzewski K, 
                Coligan JE.
                </p>

                <p class="journal">Immunity.
                2016 Jun 21;
                
                44(6): 1365-78
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/27261276">[pubmed]</a>
                <a href="http://dx.doi.org/10.1016/j.immuni.2016.05.005">[crossref]</a></p>
            </li>
            
            
            
            <li class="recent_article">
                <h4 class="article_title">Antagonism of scavenger receptor CD36 by 5A peptide prevents chronic kidney disease progression in mice independent of blood pressure regulation.</h4>
                <p class="authors">
                Souza AC, 
                Bocharov AV, 
                Baranova IN, 
                Vishnyakova TG, 
                Huang YG, 
                Wilkins KJ, 
                Hu X, 
                Street JM, 
                Alvarez-Prats A, 
                Mullick AE, 
                Patterson AP, 
                Remaley AT, 
                Eggerman TL, 
                Yuen PS, 
                Star RA.
                </p>

                <p class="journal">Kidney International.
                2016 Apr;
                89(4):809-22
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26994575">[pubmed]</a>
                <a href="http://dx.doi.org/10.1016/j.kint.2015.12.043">[crossref]</a></p>
            </li>
            
            <li class="recent_article">
                <h4 class="article_title">TLR4 mutant mice are protected from renal fibrosis and chronic kidney disease progression.</h4>
                <p class="authors">
                Souza AC, 
                Tsuji T, 
                Baranova IN, 
                Bocharov AV, 
                Wilkins KJ, 
                Street JM, 
                Alvarez-Prats A, 
                Hu X, 
                Eggerman T, 
                Yuen PS, 
                Star RA.
                </p>

                <p class="journal">Physiological Reports.
                2015 Sep;
                
                3(9). pii: e12558
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26416975">[pubmed]</a>
                <a href="http://dx.doi.org/10.14814/phy2.12558">[crossref]</a></p>
            </li>
        
            <li class="recent_article">
                <h4 class="article_title">Pulsed Focused Ultrasound Pretreatment Improves Mesenchymal Stem Cell Efficacy in Preventing and Rescuing Established Acute Kidney Injury In Mice.</h4>
                <p class="authors">
                Burks SR,
                Nguyen BA,
                Tebebi PA,
                Kim SJ,
                Bresler MN,
                Ziadloo A,
                Street JM,
                Yuen PS,
                Star RA,
                Frank JA.
                </p>

                <p class="journal">Stem Cells.
                2015 Apr;
                
                33(4): 1241-53
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25640064">[pubmed]</a>
                <a href="http://dx.doi.org/10.1002/stem.1965">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">Comparison of serum creatinine and serum cystatin C as biomarkers to detect sepsis-induced acute kidney injury and to predict mortality in CD-1 mice.</h4>
                <p class="authors">
                Leelahavanichkul A,
                Souza AC,
                Street JM,
                Hsu V,
                Tsuji T,
                Doi K,
                Li L,
                Hu X,
                Zhou H,
                Kumar P,
                Schnermann J,
                Star RA,
                Yuen PS.
                </p>

                <p class="journal">Am J Physiol Renal Physiol.
                2014 Oct 15;
                
                307(8):F939-48
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25143457">[pubmed]</a>
                <a href="http://dx.doi.org/10.1152/ajprenal.00025.2013">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">Automated quantification of renal fibrosis with Sirius Red and polarization contrast microscopy.</h4>
                <p class="authors">
                Street JM,
                Souza AC,
                Alvarez-Prats A,
                Horino T,
                Hu X,
                Yuen PS,
                Star RA.
                </p>

                <p class="journal">Physiol Rep.
                2014 Jul 1;
                
                [Epub ahead of print]
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25052492">[pubmed]</a>
                <a href="http://dx.doi.org/10.14814/phy2.12088">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">Bioactive exosomes: possibilities for diagnosis and management of bladder cancer.</h4>
                <p class="authors">
                Street JM,
                Yuen PS,
                Star RA.
                </p>

                <p class="journal">J Urol.
                2014 Aug;
                
                192(2):297-8
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/24837807">[pubmed]</a>
                <a href="http://dx.doi.org/10.1016/j.juro.2014.05.050">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">Quantification of human urinary exosomes by nanoparticle tracking analysis.</h4>
                <p class="authors">
                Oosthuyzen W,
                Sime NE,
                Ivy JR,
                Turtle EJ,
                Street JM,
                Pound J,
                Bath LE,
                Webb DJ,
                Gregory CD,
                Bailey MA,
                Dear JW.
                </p>

                <p class="journal">J Physiol.
                2013 Dec 1;
                
                591(Pt 23):5833-42
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/24060994">[pubmed]</a>
                <a href="http://dx.doi.org/10.1113/jphysiol.2013.264069">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">Urinary exosomes: a reservoir for biomarker discovery and potential mediators of intrarenal signalling.</h4>
                <p class="authors">
                Dear JW,
                Street JM,
                Bailey MA.
                </p>

                <p class="journal">Proteomics.
                2013 May;
                
                13(10-11):1572-80
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23129434">[pubmed]</a>
                <a href="http://dx.doi.org/10.1002/pmic.201200285">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">A role for solvents in the toxicity of agricultural organophosphorus pesticides.</h4>
                <p class="authors">
                Eddleston M,
                Street JM,
                Self I,
                Thompson A,
                King T,
                Williams N,
                Naredo G,
                Dissanayake K,
                Yu LM,
                Worek F,
                John H,
                Smith S,
                Thiermann H,
                Harris JB,
                Eddie Clutton R.
                </p>

                <p class="journal">Toxicology.
                2012 Apr 11;
                
                294(2-3):94-103
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/22365945">[pubmed]</a>
                <a href="http://dx.doi.org/10.1016/j.tox.2012.02.005">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">Identification and proteomic profiling of exosomes in human cerebrospinal fluid.</h4>
                <p class="authors">
                Street JM,
                Barran PE,
                Mackay CL,
                Weidt S,
                Balmforth C,
                Walsh TS,
                Chalmers RT,
                Webb DJ,
                Dear JW.
                </p>

                <p class="journal">J Transl Med.
                2012 Jan 5;
                
                10:5
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/22221959">[pubmed]</a>
                <a href="http://dx.doi.org/10.1186/1479-5876-10-5">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">Exosomal transmission of functional aquaporin 2 in kidney cortical collecting duct cells.</h4>
                <p class="authors">
                Street JM,
                Birkhoff W,
                Menzies RI,
                Webb DJ,
                Bailey MA,
                Dear JW.
                </p>

                <p class="journal">J Physiol.
                2011 Dec 15;
                
                589(Pt 24):6119-27
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/22025668">[pubmed]</a>
                <a href="http://dx.doi.org/10.1113/jphysiol.2011.220277">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">Cyclophilin A is a damage-associated molecular pattern molecule that mediates acetaminophen-induced liver injury.</h4>
                <p class="authors">
                Dear JW,
                Simpson KJ,
                Nicolai MP,
                Catterson JH,
                Street J,
                Huizinga T,
                Craig DG,
                Dhaliwal K,
                Webb S,
                Bateman DN,
                Webb DJ.
                </p>

                <p class="journal">J Immunol.
                2011 Sep 15;
                
                187(6):3347-52
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/21824865">[pubmed]</a>
                <a href="http://dx.doi.org/10.4049/jimmunol.1100165">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">The application of mass-spectrometry-based protein biomarker discovery to theragnostics.</h4>
                <p class="authors">
                Street JM,
                Dear JW.
                </p>

                <p class="journal">Br J Clin Pharmacol.
                2010 Apr;
                
                69(4):367-78
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/20406221">[pubmed]</a>
                <a href="http://dx.doi.org/10.1111/j.1365-2125.2009.03610.x">[crossref]</a></p>
            </li>

            <li class="recent_article">
                <h4 class="article_title">7-oxysterols modulate glucocorticoid activity in adipocytes through competition for 11beta-hydroxysteroid dehydrogenase type.</h4>
                <p class="authors">
                Wamil M,
                Andrew R,
                Chapman KE,
                Street J,
                Morton NM,
                Seckl JR.
                </p>

                <p class="journal">Endocrinology.
                2008 Dec;
                
                149(12):5909-18
                </p>
                <p class="links"><a href="https://www.ncbi.nlm.nih.gov/pubmed/18755798">[pubmed]</a>
                <a href="http://dx.doi.org/10.1210/en.2008-0420">[crossref]</a></p>
            </li>
        </ul>



        <h2 id="positions">Employment and Education</h2>
        <ul class="positions">
            <li class="position">
                <h4 class="position_title">Visiting/Research Fellow (2012 - current)</h4>
                <p class="institution"><a href="https://www.niddk.nih.gov/research-funding/at-niddk/labs-branches/kidney-diseases-branch">Kidney Disease Branch, NIDDK, NIH</a></p>
                <p class="description">My work involves developing novel diagnostics and therapies for the detection, grading, and treatment of acute kidney injury and chronic kidney disease. I have taken discoveries from <i>in vitro</i> and <i>in vivo</i> models through to pilot studies in humans working with clinical collaborators.</p>
                <p class="description">Recent projects include automated quantification of fibrosis in histology sections and analysis of blood pressure and glomerular filtration rate time series data.</p>
            </li>
            <li class="position">
                <h4 class="position_title">Instructor (2015 - 2017)</h4>
                <p class="institution"><a href="https://faes.org/">Foundation for Advanced Education in the Sciences at NIH</a></p>
                <p class="description">Co-taught the BIOF309 Introduction to Python course. Developed the syllabus and taught the BIOF509 Machine Learning and Object-Oriented Programming with Python course.</p>
            </li>
            <li class="position">
                <h4 class="position_title">PhD Student (2007 - 2012)</h4>
                <p class="institution"><a href="http://www.cvs.ed.ac.uk/">Centre for Cardiovascular Science</a>, University of Edinburgh</p>
                <p class="description">The exosomal proteome as a source of biomarkers for human disease.</p>
                <p class="description">Supervisor: Dr James Dear</p>
                <p class="description">Project Synopsis:</p>
                <ul class="description">
                    <li>Validated and implemented an exosome purification strategy from human urine</li>
                    <li>Systematically investigated factors mediating the release of exosomes from an <i>in vitro</i> murine cortical collecting duct cell model</li>
                    <li>Identified exosomes as being present in adult human cerebrospinal fluid (CSF)</li>
                    <li>Investigated the urinary and CSF exosomal proteomes using tryptic digest and whole protein LC-MS/MS</li>
                </ul>
            </li>
            <li class="position">
                <h4 class="position_title">MSc Student (2006 - 2007)</h4>
                <p class="institution">Cardiovascular Science Program, University of Edinburgh</p>
                <p class="description">Dissertation project: Endothelial cell microparticles as biomarkers of cell activation and dysfunction in sepsis.</p>
                <p class="description">Spring project: The Gap Junction Potentiating Peptide Rotigaptide  Does Not Augment the EDHF Response in Rat Mesenteric Arteries.</p>
                <p class="description">Autumn project: Oxysterol exposure does not modulate 11β-HSD1 expression in 3T3-L1 adipocytes.</p>
            </li>
            <li class="position">
                <h4 class="position_title">BSc Student (2002 - 2006)</h4>
                <p class="institution"><a href="https://www.york.ac.uk/study/undergraduate/courses/bsc-biochemistry/">Biochemistry Program, University of York</a></p>
                <p class="description">Broad based degree in Biochemistry with the third year spent working in industry at <a href="https://www.gsk.com/">GlaxoSmithKline</a>.</p>
            </li>
        </ul>
    </main>


    
        
    </div>
</div>



{% endblock %}
