{% extends "layout.html" %}

{% block body %}

{{ super() }}

<div class="masthead">
    <div class="container">
        <div class="wrapper">

            <p class="lead">Welcome to my site! My name is Jonathan Street. I am fascinated by how the world works and enjoy experimenting to find the answers. Professionally, I mainly ask questions about biology and human health. I am currently studying kidney disease at the National Institutes of Health.</p>

            <p class="lead">I frequently use programming and machine learning to answer questions I otherwise could not. I have been developing software since 2002 and enjoy helping others get started. I previously taught python and machine learning at the Foundation for Advanced Education in the Sciences at NIH and continue to host a monthly event for the python user group in Washington, D.C.</p>

            <p class="lead">I try to keep this site updated with posts on the interesting things I do. Usually scientific articles and blog posts on the data and programming challenges I encounter. The site is part résumé and part journal.</p>

    
</div>
</div>
</div>

<div class="container">
    <div class="wrapper">
        <div class="recent-posts">
            <h2>Recent posts</h2>
            <ul class="">
                {% for post in  posts %}
                <li class="">
                <a href="{{ url_for('blog.detail', slug=post.slug) }}" title="{{ post.title }}">
                    {{ post.title }}
                </a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="social-media">
            <h2>Elsewhere on the web</h2>
            <ul class="">
                <li class="">
                    <a href="https://twitter.com/jonmstreet">Twitter</a>
                </li>
                <li class="">
                    <a href="https://github.com/streety/">Github</a>
                </li>
                <li class="">
                    <a href="http://www.linkedin.com/in/jonathanstreet">LinkedIn</a>
                </li>
                <li class="">
                    <a href="http://facebook.com/streetjonathan">Facebook</a>
                </li>
            </ul>
    </div>
    </div>
</div>

{% endblock %}
