<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
    
    <title>{% block head_title %}
            Jonathan Street
            {% endblock %}
    </title>
    {% block head %}{% endblock %}
  </head>
  <body {% block body_attributes %}{% endblock %}>

    
    <nav>
      <button class="toggler-button" type="button">
        <span class="toggler-button-icon"></span>
      </button>
      <a class="navbar-name" href="{{ url_for('index') }}">Jonathan Street</a>
      <div class="navbar-menu">
        <ul>
          <li class="nav-item{% if request.path == url_for('index') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('index') }}">
            Home 
            {% if request.path == url_for('index') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
          <li class="nav-item{% if request.path|truncate(6, end='') == url_for('blog.index') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('blog.index') }}">
            Blog
            {% if request.path|truncate(6, end='') == url_for('blog.index') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
          <li class="nav-item{% if request.path == url_for('cv') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('cv') }}">
            CV & Publications
            {% if request.path == url_for('cv') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
          <li class="nav-item{% if request.path == url_for('now') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('now') }}">
            Now
            {% if request.path == url_for('now') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
          <li class="nav-item{% if request.path == url_for('contact') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('contact') }}">
            Contact
            {% if request.path == url_for('contact') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
        </ul>
      </div>
    </nav>
    

    
    

    {% block body %}{% endblock %}
    
    
    
    
    
    {% block footer %}

<script>
    var mobileBtn = document.querySelector('.toggler-button')
    var menu = document.querySelector('.navbar-menu > ul')
    var toggle = false

    mobileBtn.addEventListener('click', function(){
        if(toggle) {
            menu.style.height = "0";
            menu.style.opacity = "0";
            toggle = false
        }
        else {
            menu.style.height = "12.5rem";
            menu.style.opacity = "1";
            toggle = true     
        }
    })
</script>

    {% endblock %}
  </body>
</html>    
