<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
    
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
    
    <title>{% block head_title %}
            Jonathan Street
            {% endblock %}
    </title>
    {% block head %}{% endblock %}
  </head>
  <body {% block body_attributes %}{% endblock %}>

    
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mb-4 sticky-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Jonathan Street</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        
          <li class="nav-item{% if request.path == url_for('index') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('index') }}">
            Home 
            {% if request.path == url_for('index') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
          <li class="nav-item{% if request.path|truncate(6, end='') == url_for('blog.index') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('blog.index') }}">
            Blog
            {% if request.path|truncate(6, end='') == url_for('blog.index') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
          <li class="nav-item{% if request.path == url_for('cv') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('cv') }}">
            CV & Publications
            {% if request.path == url_for('cv') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
          <li class="nav-item{% if request.path == url_for('now') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('now') }}">
            Now
            {% if request.path == url_for('now') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
          <li class="nav-item{% if request.path == url_for('contact') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('contact') }}">
            Contact
            {% if request.path == url_for('contact') %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          
        </ul>
      </div>
    </nav>
    

    
    

    {% block body %}{% endblock %}
    
    
    
    
    
    {% block footer %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    {% endblock %}
  </body>
</html>    
