{% extends "layout.html" %}

{% block head_title %}What I'm doing now :: {{ super() }}{% endblock %}

{% block body %}

{{ super() }}



<div class="fullpage">
    <div class="center_content">
        <main class="introduction">
            <h2 id="main-title">What I'm doing now</h2>
            <p>I am currently in Bethesda, Maryland, USA working as a research fellow at the National Institutes of Health. 
            My work applies a variety of techniques from basic analytical chemistry through to cutting edge deep learning to address the challenge of kidney disease.</p>

        </main>
    </div>
</div>

{% endblock %}
